.player{
    display: flex;
    align-items: center;
    width: 300px;
    background-color: rgba(80, 79, 76, 0.801);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
    span {
        font-size: 24px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: orange !important;
}
