.start-screen {
    background-color: #404040;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    img {
        height: 100vh;
    }
}

.start-label-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;

    img {
        width: clamp(300px, 40vw, 400px);
        height: auto;

        &:hover{
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}