.backgroundContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 130px;
        height: 100px;
        object-fit: cover;
        margin: 20px 20px 0 0;
        border: 3px solid transparent;
        cursor: pointer;

        &:hover {
            filter: brightness(1.5);
        }
    }

    @media (max-width: 520px) {
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: unset;
        margin-bottom: 20px;
    }
}

.background-active {
    border: 3px solid #656578 !important;
    filter: brightness(1.4) !important;
}

.coverContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    img {
        height: 100px;
        margin: 20px 20px 0 0;
        border: 3px solid transparent;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }
    }

    @media (max-width: 520px) {
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: unset;
    }

}

@media (max-width: 520px) {
    h2 {
        margin: 0;   
    }
}