.backgroundContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 130px;
        height: 100px;
        object-fit: cover;
        margin: 20px 20px 0 0;
        border: 2px solid transparent;
        cursor: pointer;

        &:hover {
            filter: brightness(1.5);
        }
    }

}

.background-active {
    border: 2px solid red !important;
    filter: brightness(1.4) !important;
}

.coverContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    img {
        height: 100px;
        margin: 20px 20px 0 0;
        border: 2px solid transparent;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }
    }

}