.backgroundContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 130px;
        height: 100px;
        object-fit: cover;
        padding: 20px 20px 0 0;
        cursor: pointer;

        &:hover {
            filter: brightness(1.5);
        }
    }
}