<h1 mat-dialog-title>Edit player</h1>

<img 
    class="profile-picture" 
    *ngFor="let pic of allProfileImages" 
    ngDefaultControl
    src="./assets/img/profile/{{ pic }}" alt=""
>
<div mat-dialog-actions>
    <!-- <button mat-stroked-button color="warn" [mat-dialog-close]="'DELETE'" cdkFocusInitial>Delete</button> -->
    <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <!-- <button mat-raised-button [mat-dialog-close]="editPlayerName" cdkFocusInitial>Ok</button> -->
  </div>
  
