<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i * 90)}" 
    [playerActive]="i == game.currentPlayer"
    [name]="player" 
    class="player-position" style="top: 130px;"></app-player>
<div class="field">
    <div class="card-stack">
        <!-- Card stack -->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0,1,2,3]; let i = index;" src="assets/img/cards/card_cover.png" alt="">
        <img (click)="pickCard()" class="top-card" style="right: 25px;" src="assets/img/cards/card_cover.png" alt="">
        
        <!-- Stack for played Cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" style="right: 25px" src="assets/img/cards/{{ card }}.png" alt="">
        
        <!-- Current card (Animation) -->
        <img (click)="pickCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;" src="assets/img/cards/{{ currentCard }}.png" alt="">
    </div>
</div>
<app-game-rules [card]="currentCard" class="pin-bottom"></app-game-rules>
<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>