<!-- Player Component -->
<div class="d-flex">
    <div class="container-player">
        <app-player (click)="editPlayer(i, player)" *ngFor="let player of game.players; let i = index;"
            [playerActive]="i == game.currentPlayer" [name]="player" [playerImage]="game.player_images[i]">
        </app-player>
    </div>
</div>
<!-- Game Component -->

<!-- Preloaded transparent image -->
<img *ngIf="game.stack.length > 1" class="preloadImage"
    src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.svg" alt="">

<div class="background"
    [ngStyle]="{'background-image': 'url(../../assets/img/backgrounds/' + this.gameSettings.backgroundImage + ')'}">

</div>
<div class="field">
    <div class="card-stack">
        <!-- Card stack -->
        <img [ngStyle]="{'right.px': i * 5}"
            [ngClass]="{'top-card': game.stack.length <= 4 && c == game.stack.length - 1}"
            (click)="game.stack.length <= 4 && pickCard()" *ngFor="let c of game.countCardStack; let i = index;"
            src="assets/img/card_cover/{{ this.gameSettings.cardCover }}" alt="">
        <img *ngIf="game.stack.length > 4" (click)="pickCard()" class="top-card" style="right: 25px;"
            src="assets/img/card_cover/{{ this.gameSettings.cardCover }}" alt="">

        <!-- Stack for played Cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" style="right: 25px"
            src="assets/img/cards/{{ card }}.svg" alt="">

        <!-- Current card (Animation) -->
        <img (click)="pickCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px;"
            src="assets/img/cards/{{ game.currentCard }}.svg" alt="">


    </div>
</div>

<!-- Game Rules Component -->
<app-game-rules [card]="game.currentCard" class="pin-bottom"></app-game-rules>

<!-- Game Setting Icons -->
<div class="gameSettings">
    <button style="cursor: initial" mat-mini-fab color="accent" matTooltip="Count Players" matTooltipPosition="left" matTooltipClass="tooltip"
        >
        <span>{{ game.countPlayer }}/4</span>
    </button>
    <button *ngIf="game.countPlayer < 4" mat-mini-fab color="accent" matTooltip="Add Players" matTooltipPosition="left" matTooltipClass="tooltip"
        (click)="openDialogAddPlayer()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="accent" matTooltip="Change Settings" matTooltipPosition="left" matTooltipClass="tooltip"
        (click)="openDialogChangeSettings()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" mat-mini-fab color="accent" matTooltip="Invite Your friends!"
        matTooltipPosition="left" matTooltipClass="tooltip">
        <mat-icon>share</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <span mat-menu-item class="invite-friends">Play with friends</span>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="shareGameByEmail()">Send link by email</button>
        <button mat-menu-item [cdkCopyToClipboard]="'http://localhost:4200/game/' + gameId">Copy link to
            clipboard</button>
    </mat-menu>
</div>