<h1 mat-dialog-title>Add new player</h1>
<div mat-dialog-content>
  <p>Please enter the name of a player</p>
  <mat-form-field class="mobile-name" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="editPlayer.name">
  </mat-form-field>
</div>
<h1 mat-dialog-title>Choose your Avatar</h1>
<mat-button-toggle-group class="mobile" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle *ngFor="let pic of allProfileImages" ngDefaultControl 
    (click)="this.editPlayer.picture = pic" value="bold">
    <img src="./assets/img/profile/{{ pic }}" class="profile-picture">
  </mat-button-toggle>
</mat-button-toggle-group>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="editPlayer.name.length == 0" [mat-dialog-close]="editPlayer" cdkFocusInitial>Ok</button>
</div>
