.profile-picture {
    padding: 7px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
        scale: 1.2;
    }

    @media (max-width: 520px) {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 520px) {
    .mat-button {
        max-height: 110px;
        overflow: scroll;
    }
}

.mobile {
    @media (max-width: 520px) {
        overflow: scroll;
        max-width: 90%;
    }
}

.mobile-name {
    @media (max-width: 290px) {
        width: 150px;
    }   
}